# Notebook 001 - Initial Data Loading
This notebook establishes a connection to a PostgreSQL database and loads the candidates.csv dataset without processing. These data will be cleaned in another notebook.

Initially, the workshop001 directory is added to the system path so the system can import the scripts package and use the db_connector script to establish the database connection.

In [4]:
import pandas as pd
import sys
import os

sys.path.append(os.path.abspath(".."))

In [3]:
from scripts.db_connector import get_db_engine


#### Postgres Connection
The database connection is established using the function created in the imported script.

In [6]:
conn = get_db_engine()

#### Creation of the **"candidates_initial_data"** table.

In [ ]:
cur = conn.cursor()

cur.execute("""CREATE TABLE candidates_initial_data (
            first_name TEXT,
            last_name TEXT,
            email TEXT,
            application_date DATE,
            country TEXT,
            yoe INT, 
            seniority TEXT,
            technology TEXT,
            code_challenge_score INT,
            technical_interview_score INT);
""")

conn.commit()

#### Load of cadidates.csv data into the table created in the database

In [ ]:
csv_file_path = os.path.join(os.getcwd(), "data", "candidates.csv")

table_name = 'candidates_initial_data'

copy_sql = f"""
           COPY candidates_initial_data
           FROM stdin 
           DELIMITER ';' 
           CSV HEADER;
           """
with open(csv_file_path, 'r') as f:
    cur.copy_expert(sql=copy_sql, file=f)

conn.commit()

conn.close()

Finally, the data load is verified by running a query on the database.

In [7]:
query = "SELECT * FROM candidates_initial_data limit 10;"
df = pd.read_sql(query, conn)

df

C:\Users\valen\AppData\Local\Temp\ipykernel_3216\2300954172.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,first_name,last_name,email,application_date,country,yoe,seniority,technology,code_challenge_score,technical_interview_score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7
5,Alec,Abbott,juanita_hansen@gmail.com,2019-08-17,Zimbabwe,8,Junior,Adobe Experience Manager,2,9
6,Allison,Jacobs,alba_rolfson27@yahoo.com,2018-05-18,Wallis and Futuna,19,Trainee,Sales,2,9
7,Nya,Skiles,madisen.zulauf@gmail.com,2021-12-09,Myanmar,1,Lead,Mulesoft,2,5
8,Mose,Lakin,dale_murazik@hotmail.com,2018-03-13,Italy,18,Lead,Social Media Community Management,7,10
9,Terrance,Zieme,dustin31@hotmail.com,2022-04-08,Timor-Leste,25,Lead,DevOps,2,0